@import url('./layouts/normalize.css');
@import url('./layouts/base.css');

@import url('./blocks/hero.css');
@import url('./blocks/header.css');
@import url('./blocks/logo.css');
@import url('./blocks/navbar.css');
@import url('./blocks/contacts.css');
@import url('./blocks/button.css');
@import url('./blocks/title.css');
@import url('./blocks/offers.css');
@import url('./blocks/news.css');
@import url('./blocks/pagination.css');
@import url('./blocks/abouts-us.css');
@import url('./blocks/footer.css');
@import url('./blocks/socials.css');
@import url('./blocks/games.css');
@import url('./blocks/breadcrumbs.css');
@import url('./blocks/services.css');
@import url('./blocks/partners.css');
@import url('./blocks/welcome.css');
@import url('./blocks/page.css');
@import url('./blocks/reviews.css');
@import url('./blocks/banner.css');
@import url('./blocks/feedback-form.css');
@import url('./blocks/dropdown.css');