body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.main-page-wrapper {
  background: url('./assets/background/bg__header.png') center top no-repeat, url('./assets/background/bg__footer.png') center bottom 179px no-repeat;
  background-blend-mode: luminosity;
  background-color: #17191C;
}

.hero {
  margin-bottom: 191px;
}

.header{
  height: 95px;
  position: relative;
  margin-bottom: 113px;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.logo {
  display: block;
  position: absolute;
  top: 33px;
  left: 0;
}

.navbar {
  position: absolute;
  top: 35px;
  left: 420px;
}

.navbar__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 62px;
}

.navbar__item:last-child {
  margin: 0;
}

.navbar__item--active .navbar__link {
  color: #8F00FF;
}

.navbar__link {
  text-decoration: none;
}

.navbar__link:hover {
  color: #8F00FF;

}

.contacts {
  font-style: normal;
  text-align: right;
  position: absolute;
  top: 36px;
  right: 0px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 0;
}

.contacts__info {
  font-size: 13px;
  text-decoration: underline;
}

.hero__content{
  width: 637px;
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
}

.hero__subtitile {
  font-size: 21px;
  margin-bottom: 75px;
}

.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 18px 38px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background: #741BBA;
}

.btn--color--purple{
  background: #8F00FF;
  color: #fff;
}

.offers {
  margin-bottom: 115px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.offers__title {
  position: relative;
  display: inline-block;
  padding-right: 51px;
}

.offers__title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  background: url('./assets/offers/new__icon.png') no-repeat center;
  transform: translateY(-50%);
}

.offers__item {
  min-height: 449px;
  display: inline-block;
  width: 362px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 22px;
}

.offers__item:last-child {
  margin-right: 0;
}

.offer__header {
  min-height: 144px;
  position: relative;
  padding-top: 40%;

}

.offer__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer__content {
  padding: 32px 20px;
}

.offer__title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 22px;
}

.offer__list {
  display: flex;
  margin-bottom: 22px;
}

.offer__item {
  margin-right: 54px;
}

.offer__item:last-child {
  margin-right: 0;
}

.offer-info {
  display: flex;
}

.offer-info__icon {
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.offer-info--clock .offer-info__icon {
  background: url('./assets/offers/clock.png') no-repeat center;
}

.offer-info--questions .offer-info__icon {
  background: url('./assets/offers/qa.png');
}

.offer-info__text {
  color: #666666;
}

.offer__desc {
  font-size: 14px;
  color: #303030;
  margin-bottom: 24px;
  line-height: 1.5;
}

.btn--color--white {background: #fff;color: #8F00FF;border: 1px solid #8F00FF;padding: 17px 32px;}

.btn--color--white:hover {
  color: #fff;
  background: #8F00FF;
}

.news {
  margin-bottom: 145px;
}

.news__item {
  width: 557px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 17px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__list{
  margin-bottom: 53px;
}

.news-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 30px;
  min-height: 150px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.news__desc {
  width: 450px;
}

.pagination {
  text-align: center;
}

.pagination__display, .pagination__list {
  display: inline-block;
  vertical-align: middle;
}

.pagination__display {
  margin-right: 26px;
}

.pagination__item {
  display: inline-block;
  vertical-align: middle;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;
}

.pagination__item--active .pagination__link {
  background: #8F00FF;
}

.pagination__link:hover {
  background: #8F00FF;
}

.about-us {
  margin-bottom: 49px;
}

.about-us__content::before, .about-us__text {
  display: inline-block;
  vertical-align: top;
}

.about-us__content::before {
  content: "";
  width: 489px;
  height: 505px;
  background: url('./assets/about-us/about.jpg') center center / cover no-repeat;
  border-radius: 5px;
}

.about-us__text {
  background: linear-gradient(71.43deg, #8F00FF, #148CFF),
  linear-gradient(0deg, #212121, #212121);
  padding: 72px 81px;
  width: 785px;
  margin-left: -142px;
  margin-top: 105px;
  border-radius: 5px;
  line-height: 27px;
}

.about-us__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.about-us__desc {
  margin-bottom: 42px;
  width: 500px;
}

.about-us__desc p {
  margin-bottom: 20px;
}

.about-us__desc p:last-child {
  margin-bottom: 0;
}

.btn--color--gradient {
  border: 1px solid #fff;
  padding: 13px 39px;
}

.footer-container {
  border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer {
  height: 152px;
  position: relative;
  margin-top: 19px;
}

.footer__navbar {
  position: absolute;
  top: 35px;
  left: 288px;
}

.socials__list {
  position: absolute;
  top: 32px;
  right: 264px;
}

.socials__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: center center no-repeat;
}

.socials__item--icon--t .socials__link {
  background: url('./assets/socials/telegram.png');
}

.socials__item--icon--t .socials__link:hover {
  background: url('./assets/socials/t__hover.png');
}

.socials__item--icon--vk .socials__link {
  background: url('./assets/socials/vk.png');
}

.socials__item--icon--vk .socials__link:hover {
  background: url('./assets/socials/vk__hover.png');
}

.socials__item--icon--f .socials__link {
  background: url('./assets/socials/f.png');
}

.socials__item--icon--f .socials__link:hover {
  background: url('./assets/socials/f__hover.png');
}

.socials__item--icon--in .socials__link {
  background: url('./assets/socials/in.png');
}

.socials__item--icon--in .socials__link:hover {
  background: url('./assets/socials/in__hover.png');
}

.footer__contacts {
  top: 26px;
  right: 0px;
}

.footer-contacts__info {
  color: #9A9A9A;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 13px;
}
