body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body, html  {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper {
  background: url('../../assets/background/bg__header.png') center top no-repeat, url('../../assets/background/bg__footer.png') center bottom 140px no-repeat;
  background-blend-mode: luminosity;
  background-color: #17191C;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.page__content {
  background: #fff;
  padding-top: 98px;
  padding-bottom: 84px;
}

