.contacts {
  font-style: normal;
  text-align: right;
  display: flex;
  flex-direction: column;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  line-height: 32px;
}

.contacts__info {
  font-size: 13px;
  text-decoration: underline;
  padding-right: 4px;
}