.footer__container {
  margin-top: auto;
  background: #17191C;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.inner-footer {
  margin-top: auto;
}

.inner-footer__content {
  padding: 49px 0;
}

.footer-container__mix {
  height: 139px;
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__navbar {
  margin-left: 98px;
}

.footer-contacts__info {
  color: #9A9A9A;
  font-size: 11px;
  text-decoration: none;
}