.hero {
  margin-bottom: 191px;
}

.hero__container {
  min-height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__content{
  width: 56%;
}

.hero__title {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 18px;
}

.hero__subtitile {
  font-size: 21px;
  margin-bottom: 75px;
}