.navbar__list {
  display: flex;
}

.navbar__item {
  margin-right: 68px;
}

.navbar__item:last-child {
  margin: 0;
}

.navbar__item--active .navbar__link {
  color: #8F00FF;
}

.navbar__link {
  text-decoration: none;
  transition: .3s ease;
}

.navbar__link:hover {
  color: #8F00FF;
}