.news {
  margin-bottom: 145px;
}

.news__list{
  margin-bottom: 53px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 2%;
  flex: 1;
}

.news__item:last-child {
  margin-right: 0;
}

.news-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 26px 27px;
  min-height: 150px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 3px;
}

.news__desc {
  width: 450px;
}