.offers {
  margin-bottom: 120px;
}

.offers__title {
  position: relative;
  display: inline-block;
  padding-right: 51px;
}

.offers__title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  background: url('../../assets/offers/new__icon.png') no-repeat center;
  transform: translateY(-50%);
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 449px;
  width: calc(100% / 3 - 18px);
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.offers__item:last-child {
  margin-right: 0;
}

.offer__header {
  min-height: 144px;
  position: relative;
  padding-top: 40%;

}

.offer__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer__content {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.offer__title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 23px;
}

.offer__list {
  display: flex;
  margin-bottom: 22px;
}

.offer__item {
  margin-right: 54px;
}

.offer__item:last-child {
  margin-right: 0;
}

.offer-info {
  display: flex;
}

.offer-info__icon {
  width: 26px;
  height: 26px;
  margin-right: 12px;
}

.offer-info--clock .offer-info__icon {
  background: url('../../assets/offers/clock.png') no-repeat center;
}

.offer-info--questions .offer-info__icon {
  background: url('../../assets/offers/qa.png');
}

.offer-info__text {
  color: #666666;
}

.offer__desc {
  font-size: 14px;
  color: #303030;
  margin-bottom: 24px;
  line-height: 1.5;
}