.cover--bg--grey {
  background: #F4F5F5;
}

.partners__container {
  padding-top: 88px;
  padding-bottom: 66px
}

.partners__title {
  font-size: 48px;
  color: #1A1B1E;
  font-weight: bold;
  margin-bottom: 68px;
  letter-spacing: 2px
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-bottom: 40px;
  margin-left: 61px;
  min-width: 235px;
  min-height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners__item:nth-child(4n + 1) {
  margin-left: 0;
  justify-content: flex-start;
}

.partners__item:nth-child(6) {
  justify-content: flex-start;
}

.partners__link {
  text-decoration: none;
  filter: grayscale(100%)
}

.partners__link:hover {
  filter: grayscale(0);
}


