.services__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
}

.services__item {
  margin-bottom: 49px;
  display: flex;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__pic {
  width: 40.3%;margin-right: 58px;
}

.services__content {
  flex: 1;
}

.services__title {
  font-size: 36px;
  font-weight: bold;
  color: #000;
  margin-bottom: 28px;
  padding-top: 10px;
}

.services__desc {
  color: #303030;
  margin-bottom: 34px;
  line-height: 1.7;
}

.btn--services {
  padding: 17px 37px;
}