.socials__list {
  margin-right: 73px;
  margin-left: auto;
}

.socials__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background: center center no-repeat;
  opacity: 50%;
  transition: .3s;
}

.socials__item--icon--t .socials__link {
  background: url('../../assets/socials/sprite.png') -290px -10px;
}

.socials__item--icon--vk .socials__link {
  background: url('../../assets/socials/sprite.png') -402px -10px;
}

.socials__item--icon--f .socials__link {
  background: url('../../assets/socials/sprite.png') -66px -10px;
}

.socials__item--icon--in .socials__link {
  background: url('../../assets/socials/sprite.png') -178px -10px;
}

.socials__item .socials__link:hover {
  opacity: 100%;
}
