.welcome {
  background: url('../../assets/background/bg-welcome.png')center center no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: bounce 1.3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  20%{
    transform: translateY(-35px);
  }

  35% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-25px);
  }

  65% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-8px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
  }
}

.welcome__logo {
  margin-bottom: 48px;
}

.welcome__btn {
  padding: 18px 58px;
}
